/* 
	Extra small devices Phones 		(<768px)		.col-xs-
	Small devices Tablets 			(>=768px)		.col-sm-
	Medium devices Desktops 		(>=992px)		.col-md-
	Large devices Desktops 			(>=1200px)		.col-lg-
 */
/* ##########################  Globals  ########################### */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic);
body {
	font-family: 'Open Sans', sans-serif;
	padding-top: 50px;
	color: #505050;
}
a {
    color: #0078D7;
} 
a:focus, a:hover {
    color: #F25022;
}
.m-0{margin: 0}
.mb-0{margin-bottom: 0}
.mb-5{margin-bottom: 5px}
.mb-10{margin-bottom: 10px}
.mb-15{margin-bottom: 15px}
.mb-20{margin-bottom: 20px}
.mb-25{margin-bottom: 25px}
.mb-30{margin-bottom: 30px}
.btn-primary {
	background: #0078D7;
	border-color: #0078D7;
}
.tip{
	padding:10px;
	max-width:400px;
	background:#FFFDEE;
	border: 1px solid #DDD;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.196);
}
.tip-title{
	font-weight:bold;
}
.category-link{
	background: #ddd;
	color: #fff;
	padding: 0 5px 1px;
    background-color: rgba(0,0,0,0.2);
	font-size: 13px;
	border-radius: 3px;
}
.category-link:focus,
.category-link:hover{
	color: #F25022;
    background-color: rgba(242,80,34,0.6);
	color: #fff;
	text-decoration: none;
}