/* ##########################  article  ########################### */

#article .user{
    background: #eeeeee;
    padding: 30px 15px 15px;
}

#article .slider div {
    margin-bottom: 15px;
}

#article .slider img {
    width: 251px;
    max-width: 100%;
    height: auto;
}

#article .banner-after {
    margin: 15px 0 30px 0;
}

#article .banner-after {
    margin: 15px 0 30px 0;
}

#vk_groups iframe {
    position: relative;
    left: 0;
}

#article .ya-share2 {
    margin-bottom: 20px;
    margin-left: -5px;
    margin-right: -5px;
}

#article .ya-share2:after {
    clear: both;
    content: " ";
    display: table;
}

#article .ya-share2 ul {
    display: block;
}

#article .ya-share2 li {
    width: 20%;
    float: left;
    display: block;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}

#article .ya-share2 a {
    text-align: center;
    display: block;
}

#article .ya-share2 .ya-share2__badge {
    display: block;
    padding: 7px 5px;
}

#article .ya-share2 .ya-share2__counter:before {
    background: none;
}

#article .separator {
    height: 15px;
}

/* icon */
.article-icon {
    color: green;
}

.article-icon.unpublished,
.article-icon.glyphicon-lock {
    color: red;
}

.article-icon.publish_up {
    color: orange;
}

.article-icon.unpublished.publish_up {
    color: blue;
}

/* articles */
#article .articles {
    background: #eee;
}

#article .articles article {
    margin-bottom: 30px;
}

#article .articles img {
    display: block;
    width: 100%;
    height: auto;
}

#article .articles .text {
    background: #fff;
    padding: 15px;
}

#article .articles .title {
    font-size: 18px;
}

#article .articles .category {
    position: absolute;
    top: 10px;
    left: 30px;
}

/* content */
/* Lora, PT Serif, Roboto*/
/* font-family: Georgia, "Times New Roman", Times, serif; */
#article .content {
    font-size: 16px; /* 14px */
    line-height: 1.5; /* 1.4 */
}

#article .content p,
#article .content ul,
#article .content ol {
    margin-bottom: 20px; /* 10px */
}

@media screen and (max-width: 768px) {
    #article .content ul,
    #article .content ol {
        -webkit-padding-start: 25px;
    }
}

#article .content ul.list-expanded,
#article .content ol.list-expanded {
    margin-bottom: 0px;
}

#article .content ul.list-expanded li,
#article .content ol.list-expanded li {
    margin-bottom: 20px;
}

#article .content .h1,
#article .content h1 {
    font-size: 36px; /* 36px */
}

#article .content .h2,
#article .content h2 {
    font-size: 30px; /* 30px */
}

#article .content .h1,
#article .content .h2,
#article .content .h3,
#article .content h1,
#article .content h2,
#article .content h3 {
    margin-top: 30px; /* 20px */
    margin-bottom: 20px; /* 10px */
}

#article .content a[id] {
    margin-top: 0;
    display: block;
    text-decoration: none;
    color: #333;
}

#article .content a[id]:before {
    display: block;
    content: "";
    height: 50px;
    margin: -50px 0 20px;
}

@media (min-width: 768px) {
    #article .content .lead {
        font-size: 21px /* 21px */
    }
}

#article p img {
    max-width: 100%;
    max-height: 600px;
}

#article table {
    font-size: 14px;
}

#article .table-compare {
    border: #ffffff;
}

#article .table-compare th {
    text-align: center;
    border: none;
}

#article .table-compare td {
    border: none;
}

#article .table-compare th.success {
    background-color: #d0e9c6;
}

#article .table-compare th.danger {
    background-color: #ebcccc;
}

#article .table-compare ul,
#article .table-compare ol {
    margin: 0;
    -webkit-padding-start: 25px;
}

#article .table-compare li {
    margin-bottom: 10px;
}

#article .youtube iframe {
    width: 100%;
    height: 400px;
}

@media (max-width: 768px) {
    #article .youtube {
        margin-left: -15px;
        margin-right: -15px;
    }
}

#article blockquote {
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
    padding: 0px 20px;
}

#article p.note {
    padding: 10px 20px;
    border-left: 5px solid #0078D7;
}

@media screen and (min-width: 768px) {
    #article blockquote,
    #article p.note {
        padding-left: 65px;
        position: relative;
    }

    #article blockquote:before,
    #article p.note:before {
        position: absolute;
        left: 20px;
        top: 10px;
        font-size: 30px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    #article blockquote:before {
        content: "“";
        top: -10px;
        font-size: 60px;
        font-weight: bold;
        color: #999;
    }

    #article p.note:before {
        content: "\e013";
        color: #0078D7;
    }

}

#article blockquote.blockquote-reverse {
    background: none;
}

#article address {
    font-size: 14px;
    font-style: italic;
}

#article .content span.number,
#article .content span.number-blue,
#article .content span.number-yellow,
#article .content span.number-red {
    border-radius: 1.1em;
    font-size: 100%;
    line-height: 2.1em;
    display: inline-block;
    min-width: 2.1em;
    text-align: center;
    background: #7fba00;
    color: #fff;
}

#article .content span.number-blue {
    background: #0078d7;
}

#article .content span.number-yellow {
    background: #ffb900;
}

#article .content span.number-red {
    background: #f25022;
}

p.gray {
    background: #eee;
    padding: 15px;
}

div.gray {
    background: #eee;
    padding: 15px 15px 5px 15px;
    margin-bottom: 30px;
}

p.resume {
    padding: 10px 20px;
    border-left: 5px solid #FFB900;
}

/* legacy */
#article .img-right {
    float: right;
    margin: 0 0 20px 20px;
}

#article .img-left {
    float: left;
    margin: 0 20px 20px 0;
}

.quote {
    border-left: 5px solid #EB7D00;
    padding: 0 0 0 15px;
}

.div1 {
    border: 1px solid #ddd;
    padding: 15px 15px 0 15px;
    margin: 15px 0;
    font-size: 1em !important;
    font-style: italic;
}

.div2 {
    border: 1px solid #ddd;
    padding: 15px 15px 0 15px;
    margin: 15px 0;
}

.div3 {
    background: #F8F8F8;
    border: 1px solid #F8F8F8;
    padding: 15px 15px 0 15px;
    margin: 15px 0;
}

.p1 {
    border: 1px solid #ddd;
    padding: 15px;
}

.p2 {
    background: #F8F8F8;
    padding: 15px;
}

.p3, .p4 {
    font-style: italic;
    font-size: 18px;
    padding: 0 0 0 20px;
    margin: 20px 0;
}

.p3 {
    border-left: 5px solid #7090C8;
}

.p4 {
    border-left: 5px solid #42B449;
}
