/* ##########################  articles  ########################### */
#articles article .image{
    min-height: 220px;
	background: #ddd url(/images/interface/picture.svg) no-repeat center;
	background-size: 40%;
}
@media (min-width: 768px){
	#articles article .image{
		min-height: 540px;
	}
}
@media (min-width: 992px){
	#articles article .image{
		min-height: 220px;
	}
}
@media (min-width: 1200px){
	#articles article .image{
		min-height: 270px;
	}
}
#articles .banner{
	padding: 0 15px 15px;
	text-align: center;
}
@media (min-width: 992px){
	#articles .banner{
		padding-top: 30px;
		padding-bottom: 30px;
		background: #ddd;
	}
}
@media (max-width: 450px){
	#articles h1{
		font-size: 30px;
	}
}
/* lead */
#articles .lead_items {
	margin-top: 30px;
}
#articles .lead_items>.row>article{
	margin-bottom: 30px;
}
#articles .lead_items .banner{
	border: 1px solid #f8f8f8;
	background: #f8f8f8;
	margin-bottom: 15px;
	width: 293px;
	height: 462px;
	padding: 31px 26px;
}
@media (min-width: 1200px){
	#articles .lead_items .banner{
		width: 262px;
		height: 416px;
		padding: 7px 10px;
	}
}
#articles .lead_items .image{
	margin-bottom: 15px;
	position: relative;
}
@media (min-width: 1200px){
	#articles .lead_items .image{
		min-height: 197px;
	}
}
#articles .lead_items .image img{
    display: block;
    width: 100%;
    height: auto;
}
#articles .lead_items .details{
	font-size: 12px;
}
#articles .lead_items .title{
	font-size: 16px;
}
#articles .lead_items .category{
	position: absolute;
	top: 15px;
	left: 30px;
}
/* style1 */
@media (min-width: 1200px){
	#articles .lead_items .style1-lg .image{
		margin-bottom: 0;
		min-height: 416px;
	}
	#articles .lead_items .style1-lg .text:before{
		content: ' ';
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		background-image: linear-gradient(to bottom,rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.4) 100%);
	}
	#articles .lead_items .style1-lg .text{
		position: absolute;
		bottom: 0;
		left: 15px;
		right: 15px;
		color: #fff;
		padding: 30px;
	}
	#articles .lead_items .style1-lg .text a{
		color: #fff;	
	}
	#articles .lead_items .style1-lg .details{
		position: relative;
	}
	#articles .lead_items .style1-lg .title{
		position: relative;
		font-size: 20px;
	}
}
@media (min-width: 992px) and (max-width: 1200px){
	#articles .lead_items .style1-md .image{
		margin-bottom: 0;
		min-height: 462px;
	}
	#articles .lead_items .style1-md .text:before{
		content: ' ';
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		background-image: linear-gradient(to bottom,rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.4) 100%);
	}
	#articles .lead_items .style1-md .text{
		position: absolute;
		bottom: 0;
		left: 15px;
		right: 15px;
		color: #fff;
		padding: 30px;
	}
	#articles .lead_items .style1-md .text a{
		color: #fff;
		font-size: 20px;
	}
	#articles .lead_items .style1-md .details{
		position: relative;
	}
	#articles .lead_items .style1-md .title{
		position: relative;
	}
	#articles .lead_items .style1-lg .category{
		top: -290px;
	}
}
/* style2 */
@media (min-width: 992px){
	#articles .lead_items .style2-md,
	#articles .lead_items .style2-lg{
		height: 416px; 
		overflow: hidden;
	}
	#articles .lead_items .style2-lg .image{
		min-height: 197px;
	}
}

#articles .lead_items .intro{
	text-overflow: ellipsis; 
	overflow: hidden;
	display: none;
	background: #fff;
	margin-top: 15px;
	padding-bottom: 10px;
	position: relative;
}
@media(min-width: 1200px){
	#articles .lead_items .style2-lg .intro{
		display: block;
	}
	#articles .lead_items .style2-lg .text:before{
		content: ' ';
		position: absolute;
		left: 15px;
		bottom: 0;
		height: 30px;
		width: 262px;
		background: #f8f8f8;
	}
}
@media (min-width: 992px) and (max-width: 1200px){
	#articles .lead_items .style2-md .intro{
		display: block;
	}
	#articles .lead_items .style2-md .text:before{
		content: ' ';
		position: absolute;
		left: 15px;
		bottom: 0;
		height: 30px;
		width: 293px;
		background: #f8f8f8;
	}
}

/*
#articles .lead_items .intro:after{
    content: ' ';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 30px;
	width: 100%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
}
*/
/* business */
@media (max-width: 768px){
	#articles .business{
		padding-right: 0;
		padding-left: 0;
	}
}
@media (min-width: 992px){
	#articles .business .cover{
		min-height: 416px;
	}
}
#articles .business .cover{
	background: #eee; 
	padding: 15px;
	margin-bottom: 30px;
}
#articles .business .header{
	margin-bottom: 15px;
	font-weight: bold;
}
#articles .business a{
	color: #505050;
}
#articles .business .date{
	color: #999;
	font-size: 12px;
	margin: 0 0 5px 0;
}
#articles .business .title{
	font-size: 16px;
	margin: 0 0 20px 0;
}
#articles .business .more{
	text-align: center;
	padding-top: 15px;
	border-top: 1px solid #ddd;
	font-size: 13px;
}
/* best */
#articles .best{
    background: #eee;
	padding-top: 5px;
	position: relative;
}
#articles .best h1 span{
	color: #F25022;
}
#articles .best article{
    margin: 0 15px 30px;
}
#articles .best img{
    display: block;
    width: 100%;
    height: auto;
}
#articles .best .category{
	position: absolute;
	top: 10px;
	left: 30px;
}
#articles .best .text{
    background: #fff;
	padding: 15px;
}
#articles .best .details{
	font-size: 12px;
}
#articles .best .title{
    font-size: 18px;
	height: 75px;
	overflow: hidden;
}
#articles .owl-buttons{
	font-size: 30px;
}
@media (max-width: 768px){
	#articles .owl-buttons{
		display: none;
	}
}
#articles .owl-prev,
#articles .owl-next{
	position: absolute;
	top: 180px;
	opacity: 0;
	transition: .2s;
	border-radius: 1.1em;
    font-size: 100%;
    line-height: 2.1em;
    display: inline-block;
    min-width: 2.1em;
    text-align: center;
	color:#869791;
}
#articles .owl-prev:active,
#articles .owl-next:active{
	background-color: #ccc;
}
#articles .best:hover .owl-prev,
#articles .best:hover .owl-next{
	opacity: .5;
}
#articles .owl-prev:hover,
#articles .owl-next:hover{
	opacity: .8 !important;
}
#articles .owl-prev{
	left: 15px;
}
#articles .owl-next{
	right: 15px;
}
.owl-pagination{
    text-align: center;
	position: relative;
	top: -12px;
}
.owl-page{
    display: inline-block;
    cursor: pointer;
}
.owl-page span{
	display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    border-radius: 20px;
    background: #869791;
}
.owl-page.active span{
	opacity: 1;
}
#articles .best .banner{
	padding-top: 0;
	background: inherit;
}
/* items */
#articles .items article{
    margin-bottom: 30px;
}
#articles .items img{
    display: block;
    width: 100%;
    height: auto;
}
#articles .items .category{
	position: absolute;
	top: 10px;
	left: 30px;
}
#articles .items .text{
	padding-top: 15px;
}
#articles .items .details{
	font-size: 12px;
}
#articles .items .title{
    font-size: 18px;
}
#articles .items button.load {
    margin-bottom: 30px;
}
/* --- */
#articles h1{
	margin: 30px 0 15px 0;
	text-align: center;
}
/* items width background */
#articles .jumbotron-title h1{
	font-size: 48px;
	margin-top: 20px;
	margin-bottom: 40px;
}
#articles .jumbotron-title h1 big{
	display: block;
	font-size: 70px;
	margin-bottom: 15px;
}
#articles .jumbotron-title .counter{
	font-size: 30px;
	margin-bottom: 30px;
}
#articles .jumbotron-title .counter>li {
    padding-left: 15px;
    padding-right: 15px;
}
#articles .jumbotron-title .blackout:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid white;
}
#articles .description{
    max-width: 992px;
	margin-bottom: 20px;
	font-size: 16px;
    line-height: 1.5;
}
#articles .description p {
    margin-bottom: 20px;
}
#articles .description h2 {
    text-align: center;
	margin-top: 0;
	margin-bottom: 30px;
}
#articles .description h3 {
	margin-top: 40px;
}
#articles .description h2:before {
    content: "\e111";
    font-family: 'Glyphicons Halflings';
	position: relative;
	top: 7px;
	margin-right: 15px;
	color: #0078D7;
}
