body.auth {
  background-color: #eee;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .alert {
    text-align: center;
    padding: 10px;
}
.form-signin .help-block {
    padding: 0 11px;
}