.avatar-image {
    width: 50px;
    border-radius: 50%;
}

.avatar-image_size_middle {
    width: 100px;
}

.avatar-image_size_big {
    width: 150px;
}

.avatar-char {
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
}

.avatar-char_size_middle {
    width: 72px;
    height: 72px;
    line-height: 72px;
    font-size: 32px;
}

.avatar-char_color_0 {
    background-color: #00aced;
}

.avatar-char_color_1 {
background-color: #168de2;
}

.avatar-char_color_2 {
background-color: #3b5998;
}

.avatar-char_color_3 {
    background-color: #F25022;
}

.avatar-char_color_4 {
    background-color: #eb722e;
}

.avatar-char_color_5 {
    background-color: #00aced;
}

.avatar-char_color_6 {
    background-color: #168de2;
}

.avatar-char_color_7 {
    background-color: #3b5998;
}

.avatar-char_color_8 {
    background-color: #F25022;
}

.avatar-char_color_9 {
    background-color: #eb722e;
}