/* ##########################  footer  ########################### */
html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 110px;
}
body>footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 110px;
	background-color: #f5f5f5;
}
@media (min-width: 768px){
	body {
		margin-bottom: 50px;
	}
	body>footer {
		height: 50px;
	}
}
body>footer .container{
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
}
body>footer ul.menu {
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
}
body>footer .like {
	position: absolute;
	right: 15px;
	bottom: 13px;
}
@media (min-width: 768px){
	body>footer ul.menu {
		margin-left: -5px;
	}
	body>footer ul.menu li {
		display: inline-block;
		padding-left: 5px;
		padding-right: 15px;
	}
	body>footer .like {
		text-align: right;
	}
}
body>footer a {
    color: #999;
}