/* ##########################  title  ########################### */
.jumbotron-title .cover{
	content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transition: opacity .5s;
	opacity: 0;
}
@media screen and (min-width: 768px){
	.jumbotron-title .blur-xs{
		top: -20px;
		right: -20px;
		bottom: -20px;
		left: -20px;
		-webkit-filter: blur(10px);
		-moz-filter: blur(10px);
		-ms-filter: blur(10px);
		-o-filter: blur(10px);
		filter: blur(10px);
	}
}
@media screen and (min-width: 992px){
	.jumbotron-title .blur-xs,
	.jumbotron-title .blur-sm{
		top: -20px;
		right: -20px;
		bottom: -20px;
		left: -20px;
		-webkit-filter: blur(10px);
		-moz-filter: blur(10px);
		-ms-filter: blur(10px);
		-o-filter: blur(10px);
		filter: blur(10px);
	}
}
@media screen and (min-width: 1200px){
	.jumbotron-title .blur-xs,
	.jumbotron-title .blur-sm,
	.jumbotron-title .blur-md{
		top: -20px;
		right: -20px;
		bottom: -20px;
		left: -20px;
		-webkit-filter: blur(10px);
		-moz-filter: blur(10px);
		-ms-filter: blur(10px);
		-o-filter: blur(10px);
		filter: blur(10px);
	}
}
.jumbotron-title .blackout{
	content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.jumbotron-title.image .blackout{
    background: rgba(0,0,0,0.2);
}
.jumbotron-title{
	text-align: center;
	position: relative;
}
.jumbotron-title.image{
	overflow: hidden;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.jumbotron-title.image a{
	color: #fff;
}
.jumbotron-title .container {
	position: relative;
}
