/* ##########################  navbar  ########################### */
.navbar-default {
    border-color: #F8F8F8;
}
.navbar-brand {
	color: #0078D7 !important;
	background: url(/images/logo.png) no-repeat 15px 50%;
	padding-left: 50px;

}
.navbar-brand span{
	font-weight:bold;
	color: #505050;
}
@media (max-width: 450px){
	.navbar-brand span{
		display: none;
	}
}
.navbar-btn{
	margin-right: 15px;
}
.navbar-menu ul{
	padding: 10px 10px 0;
	margin: 0 auto;
	border-bottom: 1px solid #ddd;
}
.navbar-menu .btn{
	margin-bottom: 15px; 
}
@media (min-width: 992px){
	.navbar-menu{
		width: 100%; 
		position: fixed; 
		top: 50px;
		border: none;
		padding: 0;
		background: #FeFeFe;
		height: 0;
		transition: .3s;
		opacity: 0;
		display: block;
		overflow: hidden;
		border-radius: 0;
	}
	.open>.navbar-menu{
		height: 261px;
		opacity: 1;
	}
	.navbar-menu ul{
		padding: 40px 10px 25px;
		border-bottom: none;
		width: 970px;
	}
}
@media (min-width: 1200px){
	.open>.navbar-menu{
		height: 212px;
	}    
	.navbar-menu ul{
		width: 1170px;
	}
}
#searchbar{
	min-height: 0;
	margin: 0;
	border: none;
	padding: 0;
}
#searchbar .navbar-text {
    float: left;
    margin-left: 0;
    margin-right: 15px;
}
#searchbar .close{
	font-size: 42px;
	padding-left: 15px;
	padding-top: 3px;
}
#searchbar .input-group {
    display: table;
}
#searchbar .input-group-btn {
    width: 1%;
}
#searchbar .navbar-form{
	margin-top: 8px;
	margin-bottom: 0;
	border: none;
	padding-top: 0;
	padding-bottom: 0;
}