/* ##########################  user  ########################### */
#user {
    text-align: center;
    background-color: #eeeeee;
    background-size: cover;
    padding: 45px 0 30px;
    margin-bottom: 30px;
    color: #ffffff;
}

#user ul {
    margin: 30px 0 15px;
}

#user h1 {
    color: #eeeeee;
}

#user .description {
    font-style: italic;
    color: #eeeeee;
    max-width: 500px;
    margin: 0 auto 15px;
}

#user .site a {
    color: #ddaa71;
}

#user .site a {
    background: #ddd;
    color: #fff;
    padding: 0 5px 1px;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 13px;
    border-radius: 3px;
}

#user .site a:focus,
#user .site a:hover {
    color: #F25022;
    background-color: rgba(242, 80, 34, 0.6);
    color: #fff;
    text-decoration: none;
}

#users {
    padding-bottom: 30px;
}

#users .avatar-char {
    margin-top: 15px;
}